<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Comprobantes</title>
</head>
<body>
    <h2>Comprobantes</h2>
    <table>
        <tr>
            <th>Nº Comprobante</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Ejemplo 1</td>
            <td>
                <button onclick="editarComprobante('001')">Ver</button>
            </td>
        </tr>
        <tr>
            <td>002</td>
            <td>Ejemplo 2</td>
            <td>
                <button onclick="editarComprobante('002')">Ver</button>
            </td>
        </tr>
    </table>

    <script>
        function editarComprobante(numeroComprobante) {
            // escribir funcion
            alert("Editar comprobante: " + numeroComprobante);
        }
    </script>
</body>
</html>