<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDS</title>
</head>
<body>
    <div>
        <h2>PC FIX CDS</h2>
    </div>

        <div>
            <input class="form-control" name="username" type="text" placeholder="Nombre de Usuario">
        </div>
        <div>
            <input class="form-control" name="password" type="password" placeholder="Contraseña">
        </div>
        <div>
            <a href="../templates/dashboard.html">
                <button type="submit">Enviar</button>
            </a>
        </div>

    
</body>
</html>